# {{ ansible_managed }}
# AAP {{ aap_version }} (Controller) installer inventory

[automationcontroller]
{{ container_hostname }} ansible_connection=local

[database]
{{ container_hostname }} ansible_connection=local

[all:vars]
admin_password='{{ aap_admin_password }}'

pg_host='localhost'
pg_port='5432'
pg_database='awx'
pg_username='awx'
pg_password='{{ aap_pg_password }}'
pg_sslmode='prefer'
